
body {
  padding-top: 60px;
}

footer {
    vertical-align: middle;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
    background-color: black;
    color: grey;
}

footer, .navbar {
    opacity: 0.9;
}


/* file input button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}


/* custom buttons */
.btn-custom {
  background-color: hsl(230, 0%, 32%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#515151", endColorstr="#515151");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#515151), to(#515151));
  background-image: -moz-linear-gradient(top, #515151, #515151);
  background-image: -ms-linear-gradient(top, #515151, #515151);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #515151), color-stop(100%, #515151));
  background-image: -webkit-linear-gradient(top, #515151, #515151);
  background-image: -o-linear-gradient(top, #515151, #515151);
  background-image: linear-gradient(#515151, #515151);
/*   border-color: #515151 #515151 hsl(230, 0%, 32%); */
  border-color: rgb(97, 97, 97);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  
  text-align: center;
}

.btn-custom:hover {
    opacity: 0.9;
}


/* custom progress bar */

.progress-bar-custom {
    background-color: #C1C1CC;
}


/* spinner icon */

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

/*   -webkit-transition: opacity 0.1s, width 0.1s; */
/*   -moz-transition: opacity 0.1s, width 0.1s; */
/*   -o-transition: opacity 0.1s, width 0.1s; */
/*   transition: opacity 0.1s, width 0.1s; */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /*This doesn't work, just fix for unkown width elements */
  /*width: 16px;*/
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.has-spinner.btn-custom.active .spinner {
    width: 16px;
    color: #fff !important;
}


/* file progress */
#wordlist_progress {
    opacity: 0;
}

#wordlist_progress.active {
    opacity: 1;
}


/* output panel */
.min-width-pre {
    min-width: 150px;
    padding: 6px;
    margin:0;
}

.panel, .form-control, .btn, pre {
    border-radius: 3px;
}



/* overlay */
.loading_modal {
    /* some styles to position the modal at the center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
   
    /* needed styles for the overlay */
    z-index: 999; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}